body {
  margin: 75px 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #393E46;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #EEEEEE !important;
}

footer {
  padding-top: 10px;
  color: #393E46 !important;
  background-color: #EEEEEE;
}

footer a, .fa-search, .article-title {
  text-decoration: none;
  color: #393E46;
}

footer a:hover {
  color: #393E46;
}

.fa-search:hover{
  color: #393E46;
}

footer .container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

footer .card {
  text-align: center;
}

footer .card-title {
  padding-bottom: 10px !important;
  padding-top: 5px !important;
}

.app-logo {
  height: 50px;
}

.fa-search, .fa-file-text-o, .fa-headphones, .fa-user {
  font-size: 25px;
}

.article-type, .more-button, .section-name {
  color: #00ADB5;
}


.articles-list:hover {
  background-color: #AAD8D3; 
}
